DJANGO_SECRET_KEY=PASTE_OPENSSL_RAND_HEX_64_CHARS_OR_MORE_HERE
DEBUG=False
ALLOWED_HOSTS=billora-backend-qhzi.onrender.com
CSRF_TRUSTED_ORIGINS=https://billora-frontend.vercel.app,https://billora-backend-qhzi.onrender.com
DJANGO_TIME_ZONE=Asia/Kolkata
USE_TLS=1
TRUST_PROXY_SSL=1
SECURE_SSL_REDIRECT=1
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=1
SECURE_HSTS_PRELOAD=0
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
SECURE_REFERRER_POLICY=same-origin
SECURE_CROSS_ORIGIN_OPENER_POLICY=same-origin
PUBLIC_API_BASE_URL=https://billora-backend-qhzi.onrender.com
DB_NAME=postgres
DB_USER=PASTE_SUPABASE_POOLER_USER
DB_PASSWORD=PASTE_SUPABASE_DB_PASSWORD
DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_PORT=6543
DB_SSLMODE=require
DB_CONN_MAX_AGE=0
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://billora-frontend.vercel.app,https://billora-backend-qhzi.onrender.com,https://billora-frontend-git-main-manikandans-projects-5f6ac6b9.vercel.app,https://billora-frontend-k5ykr8l4x-manikandans-projects-5f6ac6b9.vercel.app
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=14
JWT_LEEWAY_SECONDS=5
JWT_LOGIN_THROTTLE=20/minute
JWT_REFRESH_THROTTLE=60/minute
DRF_ANON_THROTTLE=120/minute
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER=PASTE_SENDER_GMAIL
EMAIL_HOST_PASSWORD=PASTE_GMAIL_APP_PASSWORD
DEFAULT_FROM_EMAIL=Billora <noreply@billora.local>
BILLORA_RECEIVER_EMAIL=PASTE_OPS_EMAIL
DJANGO_SUPERUSER_EMAIL=PASTE_SUPERUSER_EMAIL
DJANGO_SUPERUSER_PASSWORD=PASTE_SUPERUSER_PASSWORD
